{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}nome{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'calculadora/style.css' %}">
    
    <script src="https://kit.fontawesome.com/58487b1621.js" crossorigin="anonymous"></script>
</head>
<body {% block body_id %}{% endblock %}>

    <div class="app-container">
        
        <aside class="sidebar">
            <div class="logo-container">
                <div class="logo-placeholder"></div>
                <span class="app-name">CalcNum</span>
            </div>
            
            <nav class="main-nav">
                <ul>
                    <li class="nav-item {% if request.resolver_match.url_name == 'pagina_inicial' %}active{% endif %}">
                        <i class="icon fa-solid fa-house"></i>
                        <a href="{% url 'pagina_inicial' %}">Página Inicial</a>
                    </li>

                    <li class="nav-item {% if request.resolver_match.url_name == 'encontrar_raiz' %}active{% endif %}">
                        <i class="icon fa-solid fa-chart-line"></i>
                        <a href="{% url 'encontrar_raiz' %}">Encontrar Raíz</a>
                    </li>
                    
                    <li class="nav-item {% if request.resolver_match.url_name == 'sistemas_lineares' %}active{% endif %}">
                        <i class="icon fa-solid fa-border-all"></i>
                        <a href="{% url 'sistemas_lineares' %}">Sistemas Lineares</a>
                    </li>

                    <li class="nav-item {% if request.resolver_match.url_name == 'historico' %}active{% endif %}">
                        <i class="icon fa-solid fa-clock-rotate-left"></i>
                        <a href="{% url 'historico' %}">Histórico</a>
                    </li>

                    <li class="nav-item">
                        <i class="icon fa-solid fa-book-open"></i>
                        <a href="https://pt.wikiversity.org/wiki/Introdu%C3%A7%C3%A3o_a_M%C3%A9todos_Num%C3%A9ricos" target="_blank">
                            O que é cálculo numérico?
                            <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: 0.7rem; margin-left: 5px;"></i>
                        </a>
                    </li>

                </ul>
            </nav>

            <a href="https://github.com/igor78546786/unnamed-project" target="_blank" class="github-link">
                <i class="fa-brands fa-github"></i>
            </a>

        </aside>

        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>
        
    </div>

</body>
</html>