{% extends 'calculadora/base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="card-grid">
        <a href="{% url 'encontrar_raiz' %}" class="card-link">
            <div class="card">
                <i class="card-icon fa-solid fa-chart-line"></i>
                <h3>Encontrar Raíz de uma Equação</h3>
                <p>Encontre o valor de x para o qual f(x) = 0.</p>
            </div>
        </a>

        <a href="{% url 'sistemas_lineares' %}" class="card-link">
            <div class="card">
                <i class="card-icon fa-solid fa-border-all"></i>
                <h3>Sistemas Lineares</h3>
                <p>Encontre os valores das variáveis de um sistema de equações.</p>
            </div>
        </a>
    </div>
{% endblock %}