{% extends 'calculadora/base.html' %}

{% block body_id %}id="page-inicial"{% endblock %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="card-grid">
        <a href="{% url 'encontrar_raiz' %}" class="card-link">
            <div class="card">
                <i class="card-icon fa-solid fa-chart-line"></i>
                <h3>Encontrar Raíz de uma Equação</h3>
                <p style="margin-bottom: 10px;">Encontre o valor de x para f(x)=0.</p>
                <div style="font-size: 0.85rem; color: #ced4da;">
                    <span class="badge">Bisseção</span> • <span class="badge">Falsa Posição</span> • <span class="badge">Newton-Raphson</span>
                </div>
            </div>
        </a>

        <a href="{% url 'sistemas_lineares' %}" class="card-link">
            <div class="card">
                <i class="card-icon fa-solid fa-border-all"></i>
                <h3>Sistemas Lineares</h3>
                <p style="margin-bottom: 10px;">Resolva sistemas do tipo Ax = b.</p>
                <div style="font-size: 0.85rem; color: #ced4da;">
                    <span class="badge">Gauss</span> • <span class="badge">Jordan</span> • <span class="badge">Jacobi</span>
                </div>
            </div>
        </a>
    </div>
{% endblock %}